.authPageContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f9f9f9;
  /* height: 100dvh; */
  /* overflow-x: hidden; */
  /* -webkit-overflow-scrolling: touch; */
  /* height: 100%; */
  /* height: auto; */
}

.authPageSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
