.date-range-picker {
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: whitesmoke;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0; /* Remove gaps between cells */
}

.date-text-container {
  width: 100%;
  padding: 0.8rem 0.5rem;
  background-color: white;
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #e0e0e0;
}

.date-text {
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
}

.arrow-button {
  border: none;
  background-color: transparent;
}

.arrow-icon {
  font-size: 14px;
  cursor: pointer;
  color: var(--primary-color);
}

.option-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.day {
  width: 100%; /* Full-width to fill grid cell */
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 0; /* Reset border-radius for a seamless background */
  margin-bottom: 1rem;
  font-size: 14px;
}

.nested-day-middle {
  width: 2rem; /* Full-width to fill grid cell */
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 100rem;
  position: absolute;
}

.nested-day-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nested-day-right {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.adjacent-month {
  color: #aaa;
}

.select-bg {
  background-color: var(--primary-color);
}

.range-bg {
  background-color: #62b3ff;
}

.select-text {
  color: #fff;
}

.today-border {
  border: 2px solid var(--primary-color); /* Blue border */
}
