.spinner {
  border: 3px solid #cbcbcb; /* Light gray border */
  border-top: 3px solid #005ff7; /* Blue border */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
